<div class="container">
    <div class="row">


        <p>A list of features that might be implemented on the blog (some of which are possibly too ambitious at this stage…)
-	Ordering blog posts by date: ‘most recent’ to ‘oldest’.
-	Displaying current date and time + the date and time different regions/countries
- Stylistic changes: changing the colour of the homepage, borders, heading, etc; incorporating a colour gradient; altering size, font style, object positioning.
-	Links to list of other blogs under ‘recommendations’.
-	Navigation bar at the top, comprised of clickable tabs which transport the visitor to various sections of the blog: ‘About’, ’Contact’, ’Recommended’, etc.
-	General comment box and comment sections
-	Login option through a username and password </p>
    </div>
  </div>
</div>  

