<div class="container">
   <div class="row">
    <p> A virtual machine, such as VirtualBox which uses the operating system Ubuntu, is software that emulates specific computer hardware, essentially creating (as I understand) a computer within a computer. It gives the user the same experience as the actual hardware would, but with greater efficiency, less power consumption whilst costing less. It has to be said, however, that the capabilities of the virtual environment cannot exceed those provided by the physical host i.e. an environment with 6GB worth of RAM is not possible if your computer only has 4!
We used Ubuntu with the purpose of hosting our blogs locally. The installation and setup of Ubuntu for me became a little complicated, requiring me to access the BIOS settings of my computer in order to enable virtualization – this consisted of some frantic research and savagely hitting a host of keys upon startup at 11pm! (Note to self: F2 works.) However I now appreciate how incredibly useful virtual machines can be and think it could be a key tool in future projects, when I have more experience. </p>
   </div>
  </div>
</div>  
